<polymer-element name="chat-footer" noscript>
	<template>
		<style type="text/css">
		:host {
			display: block;
			margin-top: 20px;
		}
		</style>
		<div class="footer">
	      <a href="http://github.com/christopherL91" class="btn btn-default btn-link">
	        <span class="glyphicon glyphicon-bookmark"></span>
	        Christopher Lillthors
	      </a>
	      <a href="http://github.com/considerate" class="btn btn-default btn-link">
	        <span class="glyphicon glyphicon-bookmark"></span>
	        Viktor Kronvall
	      </a>
	      <p>&copy; 2014</p>
	    </div>
	</template>
</polymer-element>