<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="bower/bootstrap/dist/css/bootstrap.min.css"type="text/css"/>
    <!--<link rel="stylesheet" href="bower/bootstrap/dist/css/bootstrap-theme.min.css"type="text/css"/>-->
    <link rel="stylesheet" href="bower/flat-ui-official/css/flat-ui.css"type="text/css"/>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  </head>

    <style>
    #title{font-size: 30px;}
    #button{font-size:20px; margin-top: 0.5cm}
    #form{margin-top: 0.5cm}
    #small{font-size: 20px;}
    #error{color: red; font-size: 20px}
    </style>

  <body style="margin: 20px;">

<div class="jumbotron">
  <h1>Login</h1>
  <p>Login to chat</p>
  </div>
    <p id="error">{{.ErrorData}}</p>
    <form action="/login" method="POST">
      <input type="text" name="username" placeholder="username" required autocomplete="off"class="form-control" />
      <input type="password" name="password" placeholder="password" required autocomplete="off"class="form-control" id="form" pattern="[a-zA-Z]{4,10}" />
      <input type="submit" class="btn btn-default btn-success btn-lg" value="Login" id="button">
      </form>

      <a href="/newuser" id="button" class="btn btn-default btn-info btn-lg"><span class="glyphicon glyphicon-user"></span> New user</a>

  <hr>
  <div class="footer">
  <a href="http://github.com/christopherL91" class="btn btn-default btn-link"><span class="glyphicon glyphicon-bookmark"></span>Christopher Lillthors</a>
  <a href="http://github.com/considerate" class="btn btn-default btn-link"><span class="glyphicon glyphicon-bookmark"></span>Viktor Kronvall</a>
  <p>&copy; 2014</p>

  </div>

  </body>
</html>