<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="bower/bootstrap/dist/css/bootstrap.min.css"type="text/css"/>
    <link rel="stylesheet" href="bower/flat-ui-official/css/flat-ui.css"type="text/css"/>
    <link rel="stylesheet" href="css/chat/chat.css"type="text/css"/>
    <title>Chattering</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  </head>
  <body>
    <div class="footer">
      <a href="http://github.com/christopherL91" class="btn btn-default btn-link">
        <span class="glyphicon glyphicon-bookmark"></span>
        Christopher Lillthors
      </a>
      <a href="http://github.com/considerate" class="btn btn-default btn-link">
        <span class="glyphicon glyphicon-bookmark"></span>
        Viktor Kronvall
      </a>
      <p>&copy; 2014</p>
    </div>
  </body>
</html>