<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-nr-min.css" />
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>
  <style>
  #title{text-decoration:underline;
    text-shadow: 5px 5px 5px LawnGreen;
    font-size: 50px;}

  #small {font-size:20px;
  text-decoration:underline;}
  </style>
  <body style="margin: 20px;">
    <center><p id="title">Login form</p></center>

    <form action="/login" method="POST" class="pure-form">
      <input type="text" name="username" placeholder="username "autocomplete="off" />
      <input type="password" name="password" placeholder="password" autocomplete="off" />
      <input type="submit" value="Send" class="pure-button pure-button-primary"/>
    </form>

  </body>
</html>