<link rel="import" href="../../components/chat-login/chat-login.html">
<link rel="import" href="../../components/chat-room/chat-room.html">
<polymer-element name="chat-page">
	<template>
	    <chat-login id="login" on-login="{{handleLogin}}"></chat-login>
	    <chat-room id="room" hidden></chat-room>
	    <div class="footer">
	      <a href="http://github.com/christopherL91" class="btn btn-default btn-link">
	        <span class="glyphicon glyphicon-bookmark"></span>
	        Christopher Lillthors
	      </a>
	      <a href="http://github.com/considerate" class="btn btn-default btn-link">
	        <span class="glyphicon glyphicon-bookmark"></span>
	        Viktor Kronvall
	      </a>
	      <p>&copy; 2014</p>
	    </div>
	</template>
	<script type="text/javascript" src="chat-page.js"></script>
</polymer-element>