<link rel="import" href="../../components/chat-login/chat-login.html">
<link rel="import" href="../../components/chat-register/chat-register.html">
<link rel="import" href="../../components/chat-room/chat-room.html">
<link rel="import" href="../../bower/core-pages/core-pages.html">
<polymer-element name="chat-page">
	<template>
		<link rel="stylesheet" type="text/css" href="chat-page.css">
		<core-pages id="pages" valueattr="id" selected="{{page}}">
		    <chat-login id="login" 
		    	on-new-user="{{register}}" 
		    	on-login="{{handleLogin}}"
		    ></chat-login>
		    <chat-register id="register" 
		    	on-register="{{registered}}"
		    	on-back="{{registrationAborted}}"
		    ></chat-register>
		    <chat-room id="room"></chat-room>
	    </core-pages>
	</template>
	<script type="text/javascript" src="chat-page.js"></script>
</polymer-element>